<div class="text-center create-card">

  <div class="group-name text-center">

    <input class="form-control2" placeholder="Name for card" ng-model="$createCard.cardName">

  </div>


  <textarea style="height: 100%"></textarea>

  <div class="group-name text-center" style="background-color: white; padding-top: 20px;">

    <div>
      <button class="but-cus"
              ng-click="$createCard.addInputIntest()"
              style="width: 40%; display: inline-block">
        Add field</button>
    </div>

    <button class="but-cus" ng-click="$createCard.createNewCard()"
            ng-disabled="!$createCard.cardName">Create</button>

  </div>

</div>
