<div class="user-group">
  <div class="user-list">
    <div class="title"><h2>Groups</h2></div>
    <ul class="list-group">
      <li class="list-group-item"
          ng-repeat="group in $userGroup.groups">
        {{group}}</li>
    </ul>
  </div>
  <div class="create-group-block">

    <div class="title"><h2>Create new user`s group</h2></div>

    <ul class="list-group">

      <div class="group-name text-center">

        <input class="form-control2" placeholder="Name for group" ng-model="$userGroup.groupName">

      </div>

      <li class="list-group-item"
          ng-repeat="user in $userGroup.users">

        <input type="checkbox" ng-model="user.isAdded">
        {{user.name}}

      </li>


      <div class="group-name text-center">

        <button class="but-cus" ng-click="$userGroup.create()">Create</button>

      </div>

    </ul>
  </div>
</div>
