<div class="user-group">
  <div class="user-list">
    <div class="title"><h2>User`s groups</h2></div>
    <ul class="list-group">
      <li class="list-group-item">
        First item</li>
      <li class="list-group-item">
        First item</li>
      <li class="list-group-item">
        First item</li>
    </ul>
  </div>
  <div class="create-group-block">

    <div class="title"><h2>Create new user`s group</h2></div>

    <ul class="list-group">

      <div class="group-name text-center">

        <input class="form-control2" placeholder="Name for group" ng-model="$userGroup.groupName">

      </div>

      <li class="list-group-item">

        <input type="checkbox">
        <img src="http://fs9.www.ex.ua/show/178127802/178127802.png?1600">
        First item

      </li>
      <li class="list-group-item">

        <input type="checkbox">
        <img src="http://fs9.www.ex.ua/show/178127802/178127802.png?1600">
        First item

      </li>
      <li class="list-group-item">

        <input type="checkbox">
        <img src="http://fs9.www.ex.ua/show/178127802/178127802.png?1600">
        First item

      </li>

      <button class="btn btn-primary" ng-click="$userGroup.create()">Create</button>
    </ul>
  </div>
</div>
