<div class="dashboard__wrapper">
  <div class="dashboard">
    <div class="dashboard__item">
      <h3 class="dashboard__title">Home Reports</h3>
      <div class="home__list">
        <div class="home__item labeled">Status:</div>
        <div class="home__item">
          <p ng-show="$dashboard.homeData.status" class="status__active bolder">Active</p>
          <p ng-hide="$dashboard.homeData.status" class="status__nactive bolder">Not Active</p>
        </div>

        <div class="home__item labeled">Temperature:</div>
        <div class="home__item">
          <p ng-show="$dashboard.homeData.temperature" class="text bolder">22 &#8451;</p>
          <p ng-hide="$dashboard.homeData.temperature" class="bolder status__nactive">No Data!</p>
        </div>

        <div class="home__item labeled bordered">Heating System:</div>
        <div class="home__item"></div>

          <div class="inside_report home__item labeled">Status:</div>
          <div class="home__item">
            <p ng-show="$dashboard.homeData.hSystem.status" class="status__active bolder">Active</p>
            <p ng-hide="$dashboard.homeData.hSystem.status" class="status__nactive bolder">Not Active</p>
          </div>

        <div class="home__item labeled bordered">Electric Kettle:</div>
        <div class="home__item"></div>

          <div class="inside_report home__item labeled">Status:</div>
          <div class="home__item">
            <p ng-show="$dashboard.homeData.kSystem.status" class="status__active bolder">Active</p>
            <p ng-hide="$dashboard.homeData.kSystem.status" class="status__nactive bolder">Not Active</p>
          </div>

      </div>
    </div>
    <div class="dashboard__item">
      <h3 class="dashboard__title">Home Control</h3>
      <div class="home__list">
        <div class="home__item labeled">Heating System:</div>
        <div class="">
          <button class="abutton" ng-class="{'activated': $dashboard.homeData.hSystem.status }"
                  ng-click="$dashboard.toggleSystem('hSystem')" >
            {{$dashboard.homeData.hSystem.status ? 'Deactivate' : 'Activate'}}
          </button>
        </div>

        <div class="home__item labeled">Electric Kettle:</div>
        <div class="">
          <button class="abutton"
                  ng-class="{'activated': $dashboard.homeData.kSystem.status}"
                  ng-click="$dashboard.toggleSystem('kSystem')" >
            {{$dashboard.homeData.kSystem.status ? 'Deactivate' : 'Activate'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>