<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Please select group for send card set</h3>
</div>
<div class="modal-body" id="modal-body">

  <ul class="list-group">

    <li ng-class="{'selected': $ctrl.selectedId == group.id}"
        class="list-group-item" ng-repeat="group in $ctrl.groups"
        ng-click="$ctrl.setSelected(group.id)">
      {{group.name}}
    </li>

  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
