<div class="user-group">
  <div class="user-list">
    <div class="title"><h2>Card list</h2></div>
    <ul class="list-group">
      <li class="list-group-item">
        First item
        <button style="padding: 6px 11px 6px 8px; float: right"
                ng-click="$userGroup.sendInGroup()"
                type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
        </button>
      </li>
      <li class="list-group-item">
        First item
        <button style="padding: 6px 11px 6px 8px; float: right"
                ng-click="$userGroup.sendInGroup()"
                type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
        </button>
      </li>
      <li class="list-group-item">
        First item
        <button style="padding: 6px 11px 6px 8px; float: right"
                ng-click="$userGroup.sendInGroup()"
                type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
        </button>
      </li>
    </ul>
  </div>
  <div class="create-list-block">

    <div class="title"><h2>Create new card list</h2></div>

    <ul class="list-group">

      <div class="group-name text-center">

        <input class="form-control2" placeholder="Name for list" ng-model="$userGroup.listName">

      </div>

      <li class="list-group-item">

        <input type="checkbox" ng-model="isAdded">
        <img src="http://fs9.www.ex.ua/show/178127802/178127802.png?1600">
        First item

      </li>
      <li class="list-group-item">

        <input type="checkbox" ng-model="isAdded">
        <img src="http://fs9.www.ex.ua/show/178127802/178127802.png?1600">
        First item

      </li>
      <li class="list-group-item">

        <input type="checkbox" ng-model="isAdded">
        <img src="http://fs9.www.ex.ua/show/178127802/178127802.png?1600">
        First item

      </li>

      <div class="group-name text-center">

        <button class="but-cus" ng-click="$login.login()">create</button>

      </div>

    </ul>

  </div>
</div>
