<h2>Logs</h2>

<table >
  <tr style="background: #c1d1d2;">
    <td>#</td><td>UserId</td><td>Log</td>
  </tr>
  <% _.each(logs, function (log, log_id) { %>
    <tr style="background: #add2ba;">
      <td><%= log_id %></td><td style="max-width: 1000px;"><%= log.user_id %></td><td><%= log.log %></td>
    </tr>
  <% }) %>
</table>
